<?xml version='1.0' encoding='utf-8'?>

<!-- ======================================================================= -->
<!-- config.xml: Place this file inside the www directory                    -->
<!-- Template version: v419                                                  -->
<!-- ======================================================================= -->

    <!-- =================================================================== -->
    <!-- Change 'id' below: edu.asu.cis430.SEMESTER-YEAR.ASURITE.APPNAME     -->
    <!-- Change 'version' below to suit your needs                           -->
    <!-- =================================================================== -->

<widget 
    id          = "edu.asu.cis430.sjaffer.babyNamesMobile"  
    version     = "1.1.0" 
    xmlns       = "http://www.w3.org/ns/widgets" 
    xmlns:gap   = "http://phonegap.com/ns/1.0">

    <!-- =================================================================== -->
    <!-- Change 'name', 'description', and 'author' tags below               -->
    <!-- =================================================================== -->

    <name>BabyNames Mobile</name>

    <description>
        Demonstrates SQL, Charting and Responsive Design API's
    </description>

    <author email="sjaffer@asu.edu" href="http://www.asu.edu">
        Syeda Jaffery
    </author>

    <content src="index.html" />  <!-- the starting point of your hybrid app -->

    <!-- =================================================================== -->
    <!-- Choose the PhoneGap Build Command Line Version (CLI)                -->
    <!-- =================================================================== -->
    <preference name="phonegap-version"         value="cli-9.0.0"   />

    <!-- =================================================================== -->
    <!-- Plugins are libraries that extend the base functionality of the     -->
    <!-- HTML/CSS/JS model to include device specific features of mobile     -->
    <!-- see https://build.phonegap.com/plugins                              -->
    <!--                                                                     -->
    <!-- add any additional plugins below                                    -->
    <!-- =================================================================== -->

    <plugin name="cordova-plugin-statusbar"                     spec="2.3.0" />
    <plugin name="cordova-plugin-whitelist"                     spec="1.2.2" />

    <!-- =================================================================== -->
    <!-- Preferences: configure defaults for your hybrid app                 -->
    <!--                                                                     -->
    <!-- for example:                                                        -->
    <!-- Orientation: values: landscape, portrait, or default (allow both)   -->
    <!-- DisallowOverscroll: have the webview not "bounce" when touched      -->
    <!-- android-minSdkVersion:  set minimum threshhold of OS versions       -->
    <!--   14 = Android 4.4 (KitKat)                                         -->
    <!--   for more see https://source.android.com/source/build-numbers.html -->
    <!-- more preferences are available at                                   -->
    <!-- at http://cordova.apache.org/docs/en/latest/config_ref/             -->
    <!-- =================================================================== -->
    <preference name = "Orientation"           value = "default"   />
    <preference name = "DisallowOverscroll"    value = "false"     />
    <preference name = "android-minSdkVersion" value = "19"        />
    
    <!-- =================================================================== -->
    <!-- These are for the cordova-plugin-statusbar plugin                   -->
    <!-- iOS Quirk, add StatusBar.overlaysWebView(false); to onDeviceReady() -->
    <!-- =================================================================== -->
    <preference name="StatusBarOverlaysWebView" value="false"           />
    <preference name="StatusBarBackgroundColor" value="#8C1D40"         />
    <preference name="StatusBarStyle"           value="lightcontent"    />

    <!-- =================================================================== -->
    <!-- access: allows network access to specific domains                   -->
    <!-- allow-navigation: allows network access to specific domains         -->
    <!-- NOTE BY DEFAULT FOR DEVELOPEMENT ONLY, WE ALL ANY ACCESS TO ANY SITE-->
    <!-- with access origin="*"                                              -->
    <!-- this is NOT a best practice for development where you lock down     -->
    <!-- permitted domains - for more details and examples, see              -->
    <!-- http://cordova.apache.org/docs/en/latest/guide/appdev/whitelist/    -->
    <!-- =================================================================== -->
    <access             origin="*"  />
    <allow-navigation   href="*"    />

    <!-- =================================================================== -->
    <!-- allow-intents: if the user selects the url, allow the               -->
    <!-- system (mobile os) to honor the users intent and open it            -->
    <!-- =================================================================== -->
    <allow-intent href="http://*/*"      />   <!-- open browser          -->
    <allow-intent href="https://*/*"     />   <!-- open browser          -->
    <allow-intent href="tel:*"           />   <!-- dial phone #          -->
    <allow-intent href="sms:*"           />   <!-- send a text           -->
    <allow-intent href="mailto:*"        />   <!-- open mail to          -->
    <allow-intent href="geo:*"           />   <!-- open maps             -->
  
    <platform name="android">  
        <allow-intent href="market:*"    />   <!-- open google playstore -->
    </platform>  
      
</widget>
